
@{
    Layout = null;
}



<style>
    #form-container {
        margin: 10px;
    }

    input:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
    }
</style>


<div id="form-container">
    <span show-during-resolve class="glyphicon glyphicon-refresh"></span>
    <form class="form-inline">
        <select class="form-control" name="repeatSelect" ng-model="settings.selectedLocale" ng-change="loadCountries()">
            <option value="" disabled selected>Select your locale</option>
            <option ng-repeat="locale in settings.locales" value="{{locale.Code}}">{{locale.Name}}</option>
        </select>

        <select class="form-control" name="repeatSelect" ng-model="settings.selectedCurrency">
            <option value="" disabled selected>Select your currency</option>
            <option ng-repeat="currency in settings.currencies" value="{{currency.Code}}">{{currency.Symbol}}</option>
        </select>

        <select class="form-control" name="repeatSelect" ng-model="settings.selectedCountry">
            <option value="" disabled selected>Select your country</option>
            <option ng-repeat="country in settings.countries" value="{{country.Code}}">{{country.Name}}</option>
        </select>
        <br /> <br />


        <p>Origin : {{originPlace.selected}}</p>
        <ui-select ng-model="originPlace.selected" theme="bootstrap">
            <ui-select-match placeholder="Select or search a place in the list...">{{$select.selected.PlaceName}}</ui-select-match>
            <ui-select-choices repeat="item in originPlaces | filter: $select.search" 
                               refresh="refreshOrigin($select.search)"
                               refresh-delay="0">
                <div ng-bind-html="item.PlaceName | highlight: $select.search"></div>
                <small ng-bind-html="item.CountryName | highlight: $select.search"></small>
            </ui-select-choices>
        </ui-select>
        <br />
        
        <p>Destination : {{destinationPlace.selected}}</p>
        <ui-select ng-model="destinationPlace.selected" theme="bootstrap">
            <ui-select-match placeholder="Select or search a place in the list...">{{$select.selected.PlaceName}}</ui-select-match>
            <ui-select-choices repeat="item in destinationPlaces | filter: $select.search"
                               refresh="refreshDestination($select.search)"
                               refresh-delay="0">
                <div ng-bind-html="item.PlaceName | highlight: $select.search"></div>
                <small ng-bind-html="item.CountryName | highlight: $select.search"></small>
            </ui-select-choices>
        </ui-select>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>